body::before {
    display: block;
    content: '';
    height: 60px;
  }

  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
  /* .bg-dark {
    background-image: url('form2.mp4');
    background-repeat: no-repeat;
    background-size: cover;
  } */